.movieSection{
    width: 1000px;
    color: #fff;
}
.banner_section {
    margin: 55px auto;
    width: 890px;
    height: 187px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;    
    
}
.banner_section img {
   bottom: -184px;
    position: absolute;
}
.movies-text{
    font-weight: 600;
    font-size: 23px;
    line-height: 16px;
    margin-left: 55px;
}
.movieWrap{
    width: 890px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 49px auto;
}
.movie_box{
    cursor: pointer;
    width: 430px;
    height: 230px;
    margin-top: 54px;
    position: relative;
    /* transform: rotate(1); */

}
.movie_box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.info-box{
    width: 430px;
    height: 70px;
    background: rgba(60, 56, 64, 0.89);
    border-radius: 10px 10px 20px 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.mData{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
}
.mRelease{
    margin-top: 0;
    letter-spacing: 0.4px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
.mDur{
    font-size: 14px;
}
.timeMovie{
    background-color: #885FFB;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
