.comment-box{
    width: 440px;
    height: 915px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
}
.comHead{
    height: 81;
    border-bottom: 1px solid #ccc;
}
.comHead p{
    font-weight: 700;
    margin-left: 30px;
    font-size: 23px;
}
.comFooter{
    margin: 20px auto;
}
input{
    width: 360px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 15px 12px;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 5px;
    background-color: transparent;
}
textarea{
    margin-left: 30px;
    width: 360px;
    resize: none;
    border-radius: 5px;
    padding: 15px 12px;
    border: 1px solid #ccc;
    color: #fff;
    background-color: transparent;
}
.btnPost{
    color: #fff;
    margin-left: 335px;
    padding: 7px 23px;
    background-color: #885FFB;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}
/* .com-form{

} */
.comBody{
    padding: 5px;
    height: 500px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
}
.comBody {
    scrollbar-width: normal;
    scrollbar-color: #885FFB#885FFB;
  }

  .comBody::-webkit-scrollbar {
    width: 5px;
  }

  .comBody::-webkit-scrollbar-thumb {
    background-color:#885FFB;
  }

  .comBody::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }

  .comBody::-webkit-scrollbar-track {
    background-color: #5555;
  }

  .comBody::-webkit-scrollbar-track:hover {
    background-color: #555;
  }
.comBody span{
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 50px;
    
}
.comBody{
    font-size: 12px;
   
}
/* .s{
    font-weight: 300;
    font-size: 13px;
} */