.nav-block{
    height: 110px;
    border-bottom: 1px  solid #ccc;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.logo-text{
    font-size: 23px;
    font-weight: 700;
    margin-left: 98px;
}

.nav-link ul{
    display: flex;
}

.nav-link ul li{
    list-style: none;
    margin-right: 43px;
    cursor: pointer;
}
.nav-icon{
    
    width: 500px;
    
}
.icon-box{
    width: 140px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
}
.search{
    cursor: pointer;
}